<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.dao.appInfo.AppInfoTooMapper">
    <update id="addAppInfoToo" parameterType="appInfoToo" >
        INSERT INTO `app_info` (`softwareName`,`APKName`,`supportROM`,`interfaceLanguage`,
        `softwareSize`,`devId`,`appInfo`,`status`,`flatformId`,`categoryLevel1`,`categoryLevel2`,
        `categoryLevel3`,`downloads`,`createdBy`,`creationDate`,`logoPicPath`,`logoLocPath`)
        VALUES(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},
        #{softwareSize},#{devId},#{appInfo},#{status},#{flatformId},#{categoryLevel1},
        #{categoryLevel2},#{categoryLevel3},#{downloads},#{createdBy},NOW(),#{logoPicPath},#{logoLocPath})
    </update>

    <select id="getOneAppInfoTooCount" resultType="int">
      SELECT COUNT(1) FROM app_info  WHERE APKName=#{APKName};
    </select>

    <update id="updateAppInfoVersion" parameterType="appVersion">
        UPDATE `app_info` SET versionId=#{versionId} WHERE id=#{appId};
    </update>

    <update id="updateAppStatus">
        UPDATE `app_info` SET `status`=#{appStatus}  WHERE id=#{appId}
    </update>

    <resultMap id="getAppInfo" type="appInfoToo">
        <result property="statusName" column="status"/>
        <result property="flatformName" column="valueName"/>
    </resultMap>
    <select id="getAppInfoById"  resultMap="getAppInfo">
        SELECT
        ac1.categoryName AS categoryLevel1Name,ac2.categoryName AS categoryLevel2Name,ac3.categoryName AS categoryLevel3Name,
        ddt.valueName, dd.`valueName` AS `status`,ai.* FROM
        app_info AS ai,
        (SELECT valueId,valueName FROM data_dictionary WHERE typeCode='APP_STATUS') AS dd,
        (SELECT ddt.`valueId`, ddt.`valueName` FROM `data_dictionary` AS ddt WHERE typeCode='APP_FLATFORM') AS ddt,
        (SELECT `id`, `categoryName` FROM app_category) AS ac1,
        (SELECT `id`, `categoryName` FROM app_category) AS ac2,
        (SELECT `id`, `categoryName` FROM app_category) AS ac3
        WHERE ai.`status`=dd.`valueId` AND ai.id=#{appId} AND ddt.valueId=ai.`flatformId`
        and ai.`categoryLevel1`=ac1.id AND ai.`categoryLevel2`=ac2.id AND ai.`categoryLevel3`=ac3.id
    </select>

    <update id="updateAppInfo" parameterType="appInfoToo">
        update `app_info`
        <trim prefix="set" suffixOverrides=",">
            <if test="softwareName!=null and softwareName!=''">
                softwareName=#{softwareName},
            </if>
            <if test="APKName!=null and APKName!=''">
                APKName=#{APKName},
            </if>
            <if test="supportROM!=null and supportROM!=''">
                supportROM=#{supportROM},
            </if>
            <if test="interfaceLanguage!=null and interfaceLanguage!=''">
                interfaceLanguage=#{interfaceLanguage},
            </if>
            <if test="softwareSize!=null and softwareSize!=''">
                softwareSize=#{softwareSize},
            </if>
            <if test="appInfo!=null and appInfo!=''">
                appInfo=#{appInfo},
            </if>
            <if test="flatformId!=null and flatformId!=''">
                flatformId=#{flatformId},
            </if>
            <if test="categoryLevel1!=null and categoryLevel1!=''">
                categoryLevel1=#{categoryLevel1},
            </if>
            <if test="categoryLevel2!=null and categoryLevel2!=''">
                categoryLevel2=#{categoryLevel2},
            </if>
            <if test="categoryLevel3!=null and categoryLevel3!=''">
                categoryLevel3=#{categoryLevel3},
            </if>
            <if test="downloads!=null and downloads!=''">
                downloads=#{downloads},
            </if>
            <if test="devId!=null and devId!=''">
                modifyBy=#{devId},
            </if>
            <if test="logoPicPath !=null and logoPicPath !=''">
                logoPicPath =#{logoPicPath },
            </if>
            <if test="logoLocPath!=null and logoLocPath!=''">
                logoLocPath=#{logoLocPath},
            </if>
            modifyDate=NOW() where id=#{id}
        </trim>
    </update>

    <update id="delApp">
        DELETE FROM `app_info` WHERE id=#{appId}
    </update>

    <update id="delAppPicture">
        UPDATE `app_info` SET logoPicPath=NULL,`logoLocPath`=NULL WHERE id=#{appId};
    </update>

    <update id="checkApp">
        update  `app_info` SET status=#{status} where id=#{appId}
    </update>

    <update id="downLoadAppVersion">
          update  `app_info` SET `downloads`=#{downloads} where id=#{appId}
    </update>
</mapper>