<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.dao.appInfo.AppInfoTooMapper">
    <update id="addAppInfoToo" parameterType="appInfoToo" >
        INSERT INTO `app_info` (`softwareName`,`APKName`,`supportROM`,`interfaceLanguage`,
        `softwareSize`,`devId`,`appInfo`,`status`,`flatformId`,`categoryLevel1`,`categoryLevel2`,
        `categoryLevel3`,`downloads`,`createdBy`,`creationDate`,`logoPicPath`,`logoLocPath`)
        VALUES(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},
        #{softwareSize},#{devId},#{appInfo},#{status},#{flatformId},#{categoryLevel1},
        #{categoryLevel2},#{categoryLevel3},#{downloads},#{createdBy},NOW(),#{logoPicPath},#{logoLocPath})
    </update>

    <select id="getOneAppInfoTooCount" resultType="int">
      SELECT COUNT(1) FROM app_info  WHERE APKName=#{APKName};
    </select>

</mapper>