<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.dao.appVersion.AppVersionMapper">
    <resultMap id="getAppVersionList" type="appVersion">
        <id property="id" column="id"/>
        <result property="appId" column="appId"/>
        <result property="versionNo" column="versionNo"/>
        <result property="versionInfo" column="versionInfo"/>
        <result property="publishStatus" column="publishStatus"/>
        <result property="downloadLink" column="downloadLink"/>
        <result property="versionSize" column="versionSize"/>
        <result property="createdBy" column="createdBy"/>
        <result property="creationDate" column="creationDate"/>
        <result property="modifyBy" column="modifyBy"/>
        <result property="modifyDate" column="modifyDate"/>
        <result property="apkLocPath" column="apkLocPath"/>
        <result property="apkFileName" column="apkFileName"/>
        <result property="appName" column="softwareName"/>
        <result property="publishStatusName" column="valueName"/>
    </resultMap>
    <select id="AppVersionList" resultMap="getAppVersionList">
       SELECT ai.`softwareName`,av.*,ptn.valueName FROM `app_version` AS av,`app_info` AS ai,
      (SELECT dd.`valueId`,dd.valueName FROM `data_dictionary` AS dd WHERE dd.`typeCode`='PUBLISH_STATUS') AS ptn
       WHERE ai.`id`=av.`appId` AND ptn.valueId= av.`publishStatus` AND appId=#{appId} ORDER BY creationDate DESC;
    </select>

    <update id="addAppVersion" parameterType="appVersion">
        INSERT INTO `app_version` (`appId`,`versionNo`,`versionInfo`,`publishStatus`,
        `downloadLink`,`versionSize`,`createdBy`,`creationDate`,`apkLocPath`,`apkFileName`)
        VALUES(#{appId},#{versionNo},#{versionInfo},#{publishStatus},#{downloadLink},
        #{versionSize},#{createdBy},NOW(),#{apkLocPath},#{apkFileName})
    </update>

    <update id="updateAppVersion" parameterType="appVersion">
        UPDATE `app_version`
        <trim prefix="set" suffixOverrides=",">
            <if test="appId!=null and appId!=''">
                `appId`=#{appId},
            </if>
            <if test="versionNo!=null and versionNo!=''">
                `versionNo`=#{versionNo},
            </if>
            <if test="versionInfo!=null and versionInfo!=''">
                `versionInfo`=#{versionInfo},
            </if>
            <if test="publishStatus!=null and publishStatus!=''">
                `publishStatus`=#{publishStatus},
            </if>
            <if test="downloadLink!=null and downloadLink!=''">
                `downloadLink`=#{downloadLink},
            </if>
            <if test="versionSize!=null and versionSize!=''">
                `versionSize`=#{versionSize},
            </if>
            <if test="apkLocPath!=null and apkLocPath!=''">
                `apkLocPath`=#{apkLocPath},
            </if>
            <if test="apkFileName!=null and apkFileName!=''">
                `apkFileName`=#{apkFileName},
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                `modifyBy`=#{modifyBy},
            </if>
            `modifyDate`=NOW()
        </trim>
        WHERE id=#{id}
    </update>

    <update id="delApk">
          UPDATE`app_version` SET `downloadLink`=NULL,`apkLocPath`=NULL,`apkFileName`=NULL WHERE id=#{versionId}
    </update>

    <select id="getOneAppVersionByVersionId" resultType="appVersion">
        select * from `app_version` where id=#{versionId}
    </select>
</mapper>