<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.dao.appVersion.AppVersionMapper">
    <resultMap id="getAppVersionList" type="appVersion">
        <id property="id" column="id"/>
        <result property="appId" column="appId"/>
        <result property="versionNo" column="versionNo"/>
        <result property="versionInfo" column="versionInfo"/>
        <result property="publishStatus" column="publishStatus"/>
        <result property="downloadLink" column="downloadLink"/>
        <result property="versionSize" column="versionSize"/>
        <result property="createdBy" column="createdBy"/>
        <result property="creationDate" column="creationDate"/>
        <result property="modifyBy" column="modifyBy"/>
        <result property="modifyDate" column="modifyDate"/>
        <result property="apkLocPath" column="apkLocPath"/>
        <result property="apkFileName" column="apkFileName"/>
        <result property="appName" column="softwareName"/>
        <result property="publishStatusName" column="valueName"/>
    </resultMap>
    <select id="AppVersionList" resultMap="getAppVersionList">
       SELECT ai.`softwareName`,av.*,ptn.valueName FROM `app_version` AS av,`app_info` AS ai,
      (SELECT dd.`valueId`,dd.valueName FROM `data_dictionary` AS dd WHERE dd.`typeCode`='PUBLISH_STATUS') AS ptn
       WHERE ai.`id`=av.`appId` AND ptn.valueId= av.`publishStatus` AND appId=#{appId} ORDER BY creationDate DESC;
    </select>

    <update id="addAppVersion" parameterType="appVersion">
        INSERT INTO `app_version` (`appId`,`versionNo`,`versionInfo`,`publishStatus`,
        `downloadLink`,`versionSize`,`createdBy`,`creationDate`,`apkLocPath`,`apkFileName`)
        VALUES(#{appId},#{versionNo},#{versionInfo},#{publishStatus},#{downloadLink},
        #{versionSize},#{createdBy},NOW(),#{apkLocPath},#{apkFileName})
    </update>

</mapper>